body {
  box-sizing: border-box; // this would only put it on the body, it is not inherited
  margin: 0;
  font-family: var(--font-family-body);
}

.section-main {
  margin-top: 6em;
  padding: 4em 0;
}

.container {
  width: 95%;
  max-width: 900px;
  margin-inline: auto;
}