.singleCity {
  background-position: center;
  background-size: cover;
  // height: 100%;
  min-height: 100vh;
  height: 100%;
  padding-bottom: 2em;

  &__geography {
    display: flex;
    flex-direction: column;
    padding-top: 5em;
    padding-left: 2em;
  }

  &__title {
    color: #fff;
    letter-spacing: 0.2em;
    font-size: 4em;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Handlee';
    padding: 0;
  }

  &__subtitle {
    display: flex;
    color: #fff;
    margin-bottom: 0.75em;
    
    & > * {
      margin-top: 0;
    }
  }

  &__continent {
    text-transform: uppercase;
  }

  &__top {
    display: flex;
  }

  &__details-container {
    // border: 2px solid orange;
    width: 80vw;
    margin-left: 2em;
    // color: #fff;

  }
  &__details {
    // border: 2px solid red;
    background-color: rgba(255, 255, 255, 0.832);
    border-radius: 10px;
    // margin: 1em 0;
    padding: 0.25em 1.5em;
    margin-bottom: 1.5em;  // DON"T CHANGE THIS (JSX hackily depends on it)

    h3 {
      font-weight: 500;
      font-size: 1.5rem;
      letter-spacing: 0.04rem;
      margin: 0;
      margin-top: 0.75em;
      color: #680568;
    }

    &--travellers-container {
      // border: 2px solid orange;
      margin: 0 2em;
      margin-bottom: 1.5em;
      width: 50vw;
      // height: fit-content;
      // height:max-content;
      // height: 300px;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        width: 10px;
      }
      
      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.2);
      }
    }

    &--reviews-container {
      margin: 0 2em;

      h3 {
        margin-bottom: 1em;
      }
    }
  }

  &__travellers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__traveller {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    margin: 1em;
    border: 1px solid grey;
    border-radius: 5px;
    background: #fff;
    width: 130px;
  }

  &__traveller-link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__traveller-image {
    height: 100px;
    width: 100px;
    margin-top: 0.25em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
  }

  &__traveller-name {
    text-align: center;
    margin-top: 0.5em;
    font-weight: 500;
    color: #616161;
  }

  &__follow-traveller {
    padding: 0.4em 1.8em;
    margin-top: 0.6em;
    border: 2px solid grey;

    &:hover {
      border: 2px solid #e8ffff
    }
  }


  &__attractions-wrapper {
    display: flex;
    justify-content: center;
  }

  &__attractions {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #ceffff;
    border-radius: 10px;
    padding: 0.5em 0.6em;
    text-align: center;
    margin: 0.5em;
    margin-top: 0;
    background-color: azure;
  }

  &__reviews {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }

  &__review {
    border: 1px solid grey;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 0.5em 1em;
    margin: 1em;
    max-width: 350px;
  }

  &__review-ratings {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      display: flex;
      font-family: 'Handlee';
      font-size: 1.1rem;
      font-weight: bold;
      flex-direction: column;
      margin: 0 0.5em;
      text-align: center;
    }
  }

  &__reviewer {
    color: #616161;
    font-size: 1.1rem;
  }

  &__review-date {
    color: grey;
  }
  
}