.cities {
  display: flex;
  flex-direction: column;
  padding: 1em;
  padding-bottom: 0;

  &__city-card-link {
    text-decoration: none;
    color: #000;
  }

  &__title {
    padding-top: 2em;
    padding-left: 1em;
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 0.05em;
  }

  &__search-bar {
    margin: 1em;
    width: 450px;
    margin-top: 0.25em;
    align-self: center;
    color: purple;
  }

  &__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1.5em;
    padding-top: 0.5em;
  }

  &__city-card {
    transition: 0.3s ease-in-out;
    width: 250px;

    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }
  }

  &__city-image {
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &__city-text {
    display: flex;
    padding: 1em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-grow: 1;

    p {
      margin: 0;
    }
  }

  &__city-name {
    font-family: 'Handlee';
    font-size: 2rem;
  }

  &__country-name {
    font-size: 1.25rem;
    color: #9f9f9f;
  }
}