.createHoliday {
  position: absolute;
  width: 100vw;
  z-index: 1;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.636);
  top: 0;
  left: 0;
  
  &__container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-weight: 500;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    margin-bottom: 0.5em;
    text-align: center;
  }

  &__go-back {
    color: #b90000;
    position: absolute;
    font-size: 2rem;
    top: 2.5%;
    right: 3%;
    transition: 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      transform: scale(1.2);
    }
  } 
  
  &__form {
    background-color: #fff;
    padding: 2.5em 5em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 1.5em;
    position: relative;
  }

  &__form-label {
    margin-bottom: 0.2em;
  }

  &__form-field {
    margin-bottom: 0.8em;
  }

  &__rating {
    display: flex;
    margin-left: 1em;
  }

  &__button {
    text-align: center;
    font-size: 0.85rem;

    &--add-destination {
      margin-bottom: 1em;
    }

    &--submit {
      width: 150px;
      align-self: center;
      text-transform: uppercase;
      margin-top: 1.5em;
    }
  }
}