@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Poppins:wght@100;200;400;500;600;700&display=swap');
@import "utils/variables";
@import "base/tipography";
@import "layout/layout";
@import "components/form";
@import './home.scss';
@import './navbar.scss';
@import './cities.scss';

body {
  box-sizing: border-box; // this would only put it on the body, it is not inherited
  margin: 0;
  font-family: var(--font-family-body);
}

h1 {
  margin: 0;
}

.button {
  color: purple;
  background-color: #e8ffff;
  border: 3px solid #000;
  padding: 0.8em 1.2em;
  border-radius: 10px;
  transition: 0.2s ease-in-out;

  &:hover {
    background-color: purple;
    color: #e8ffff;
    border: 3px solid #e8ffff;
    transform: scale(1.2);
  }
}

.card {
  &--city  {}

  &--user {}
}

.input {
  font-family: inherit;
  width: 450px;
  padding: 1em 1.5em;
  border-radius: 10px;
  border: 2px solid #000;
}

