.profile {
  padding-bottom: 1em;

  h3 {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
    margin: 0;
    color: purple;
  }

  p {
    margin: 0;
  }

  &__heading {
    font-weight: 600;
    font-size: 2rem;
  }


  &__sub-title {
    padding: 0.5em 0 0.25em 0;
  }

  &__container {
    display: flex;
    margin-top: 5em;
  }

  &__info {
    // border: 2px solid orange;
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 0 2.5em;
  }

  &__profile-picture {
    border: 5px solid #000;
    border-radius: 20px;
  }

  &__follows {
    display: flex;
    // border: 2px solid green;
    width: 250px;
    justify-content: space-around;
    margin-bottom: 0.75em;
  }
  
  &__connections {
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: 2px solid red;
  }

  &__bio-and-destinations {
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 15px 2px rgba(189, 189, 189, 0.74);
    box-shadow: 0px 0px 15px 2px rgba(189, 189, 189, 0.74);
    padding: 1.5em;
    padding-top: 0.5em;
    margin-top: 0.75em;
  }

  &__timeline-section {
    width: 62%;
    padding: 1em 2em;
    position: relative;
    margin-top: 1em;
    height: 80vh;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.2);
    }
    
  }

  &__timeline-container {
    position: relative;
  }

  &__timeline-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 95%;
    position: relative;
    
    &:nth-of-type(even) {
      align-items: flex-end;
    }
  }

  &__timeline-entry-link {
    text-decoration: none;
    color: #000;
    width: 45%;
    transition: 0.3s ease-in-out;
    &:hover {
      transform: scale(1.035);
    }
  }
  
  &__timeline-entry {
    display: flex;  
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(189, 189, 189, 0.74);
    box-shadow: 0px 0px 10px 2px rgba(189, 189, 189, 0.74);    
  }
  
  &__holiday-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 50%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }


  &__holiday-text {
    padding: 1em;

    p {
      display: flex;
      justify-content: center;
      text-align: center;
      border-radius: 10px;
    }
  }

  &__destination {
    font-family: 'Handlee';
    font-size: 1.5rem;
  }

  &__date {
    color: grey;
  }

  &__duration {
    color: #515151;
  }

  &__circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #000;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);

    &--inner {
      width: 20px;
      height: 20px;
      top: 15.5%;
      left: 50%;
      background-color: #cdfdff;
    }
  }

  &__line {
    width: 5px;
    background-color: #000;
    position: absolute;
    top: 13%;
    left: 47.4%;
  }
}